<footer>
  <!--EDU2 FOOTER CONTANT WRAP START-->
    <div class="container">
      <div class="row">
        <!--EDU2 FOOTER CONTANT DES START-->
        <div class="col-md-3">
          <div class="widget widget-links">
            <h5>Information</h5>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Stories</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Our History</a></li>
              <li><a href="#">Sprcialist Info</a></li>
            </ul>
          </div>
        </div>
        <!--EDU2 FOOTER CONTANT DES END-->

        <!--EDU2 FOOTER CONTANT DES START-->
        <div class="col-md-3">
          <div class="widget widget-links">
            <h5>Student Help</h5>
            <ul>
              <li><a href="#">My Info</a></li>
              <li><a href="#">My Questions</a></li>
              <li><a href="#">F.A.Q</a></li>
              <li><a href="#">Serch Courses</a></li>
              <li><a href="#">Latest Informations</a></li>
            </ul>
          </div>
        </div>
        <!--EDU2 FOOTER CONTANT DES END-->

        <!--EDU2 FOOTER CONTANT DES START-->
        <div class="col-md-3">
          <div class="widget wiget-instagram">
            <h5>Instagram</h5>
            <ul>
              <li><a href="#"><img src="extra-images/instagram-1.jpg" alt=""/></a></li>
              <li><a href="#"><img src="extra-images/instagram-2.jpg" alt=""/></a></li>
              <li><a href="#"><img src="extra-images/instagram-3.jpg" alt=""/></a></li>
              <li><a href="#"><img src="extra-images/instagram-4.jpg" alt=""/></a></li>
              <li><a href="#"><img src="extra-images/instagram-5.jpg" alt=""/></a></li>
              <li><a href="#"><img src="extra-images/instagram-6.jpg" alt=""/></a></li>
            </ul>
          </div>
        </div>
        <!--EDU2 FOOTER CONTANT DES END-->

        <!--EDU2 FOOTER CONTANT DES START-->
        <div class="col-md-3">
          <div class="widget widget-contact">
            <h5>Contact</h5>
            <ul>
              <li>PO Box UN152468, 1 Street North, New Towm, California, USA</li>
              <li>Phone : <a href="#"> 5 (012) 4565 789</a></li>
              <li>Fax : <a href="#"> 5 (012) 4565 789</a></li>
              <li>Email : <a href="#"> Info@info.com</a></li>
            </ul>
          </div>
        </div>
        <!--EDU2 FOOTER CONTANT DES END-->
      </div>
    </div>
</footer>
