<header class="header__block">
  <div class="top-part__block ptb-15">
      <div class="container">
          <div class="row">
              <div class="col-sm-7">
                  <p>Welcome to our corporate buisness</p>
              </div>
              <div class="col-sm-5">
                  <div class="social-link__block text-right">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-search"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="middel-part__block ptb-20">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="logo">
                      <a href="index.html">
                          <img src="assets/images/logo.png" alt="Logo">
                      </a>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="top-info__block text-right">
                      <ul>
                          <li>
                              <i class="fa fa-map-marker"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                          <li>
                              <i class="fa fa-phone"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                          <li>
                              <i class="fa fa-clock-o"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="navgation__block stricky-header__top">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                <div class="main-menu__block">
                     <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand visible-xs" href="#">
                         <img src="assets/images/logo.png" alt="">
                         </a>
                     </div>

     <!--===Navigation===-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav mobile-menu">
 <li> <a href="#!">Home</a> <span class="submenu-button"></span>
             <ul class="dropdown-menu">
           <li> <a href="homechercheur">Home chercheur</a> </li>
           <li> <a href="index2.html">Home editeur</a> </li>
           <li> <a href="index3.html">Home expert</a> </li>
            </ul>
       </li>
       <li> <a href="#!">About us</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="about.html">About</a> </li>
           <li> <a href="about2.html">About 2</a> </li>
           <li> <a href="about3.html">About 3</a> </li>
           <li> <a href="history.html">history</a> </li>
           <li> <a href="career.html">career</a> </li>
           <li> <a href="partnerships.html">partnerships</a> </li>
           <li> <a href="leadership.html">leadership</a> </li>
         </ul>
       </li>
       <li> <a href="javascript:avoid(0);">Course</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="courses.html">All Courses</a> </li>
           <li> <a href="courses-details.html">Courses Details</a> </li>

         </ul>
       </li>

     <li> <a href="javascript:avoid(0);">blog</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="blog.html">Blog</a> </li>
           <li> <a href="blog-detail.html">Blog Details</a> </li>
         </ul>
       </li>
<li> <a href="javascript:avoid(0);">Event</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="event.html">Event</a> </li>
           <li> <a href="event-details.html">Event Details</a> </li>
         </ul>
       </li>
       <li> <a href="javascript:avoid(0);">pages</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="portfolio-grid.html">Gallery Grid</a> </li>
           <li> <a href="portfolio-masonry.html">Gallery Masonry</a> </li>
           <li> <a href="portfolio-single.html">Gallery single</a> </li>
           <li> <a href="lecturers.html">Lecturers</a> </li>
 <li> <a href="lecturers2.html">Lecturers 2</a> </li>
  <li> <a href="lecturer-details.html">Lecturers Details</a> </li>
           <li> <a href="pricing.html">pricing</a> </li>
           <li> <a href="faq.html">Faq</a> </li>
           <li> <a href="register.html">Register</a> </li>
           <li> <a href="login.html">login</a> </li>
           <li> <a href="testimonial.html">Testimonials</a> </li>
           <li> <a href="404.html">404 Error</a> </li>
           <li> <a href="blank.html">blank</a> </li>
         </ul>
       </li>
       <li> <a href="#!">Shop</a> <span class="submenu-button"></span>
         <!-- Nav Dropdown -->
         <ul class="dropdown-menu">
           <li> <a href="shop.html">Shop</a> </li>
           <li> <a href="shop-sidebar.html">shop sidebar</a> </li>
           <li> <a href="shop-details.html">shop details</a> </li>
           <li> <a href="cart.html">cart</a> </li>
           <li> <a href="checkout.html">Checkout</a> </li>
         </ul>
         <!-- End Nav Dropdown -->
       </li>
       <li> <a href="#!">Contact us</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="contact.html">contact</a> </li>
           <li> <a href="contact2.html">contact 2</a> </li>
         </ul>
       </li>
<li><a class="custom_btn__block" href="#">Apply Now</a></li>
     </ul>

     </div>

                 </div>
             </div>
         </div>
     </div>
 </div>
</header>
