<div class="kf-sidebar">
  <!--KF_SIDEBAR_SEARCH_WRAP START-->
  <div class="widget widget-search">
    <h2>Search Course</h2>
    <form>
      <input type="search" placeholder="Keyword...">
    </form>
  </div>
  <!--KF_SIDEBAR_SEARCH_WRAP END-->

  <!--KF_SIDEBAR_ARCHIVE_WRAP START-->
  <div class="widget widget-archive ">
    <h2>Archives</h2>
    <ul class="sidebar_archive_des">
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>January 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>February 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>March 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>April 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>May 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>June 2016</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-right"></i>August 2016</a>
      </li>
    </ul>
  </div>
  <!--KF_SIDEBAR_ARCHIVE_WRAP END-->

  <p class="copy-right-sidr">Design and Developed by KodeForest @ All Rights Reserved by KodeForest</p>
</div>
