<header class="header__block">
  <div class="top-part__block ptb-15">
      <div class="container">
          <div class="row">
              <div class="col-sm-7">
                  <p>Welcome to our corporate buisness</p>
              </div>
              <div class="col-sm-5">
                  <div class="social-link__block text-right">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-search"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="middel-part__block ptb-20">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="logo">
                      <a href="index.html">
                          <img src="assets/images/logo.png" alt="Logo">
                      </a>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="top-info__block text-right">
                      <ul>
                          <li>
                              <i class="fa fa-map-marker"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                          <li>
                              <i class="fa fa-phone"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                          <li>
                              <i class="fa fa-clock-o"></i>
                              <p>13005 Greenvile Avenue <span>California, TX 70240</span></p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="navgation__block stricky-header__top">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                <div class="main-menu__block">
                     <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand visible-xs" href="#">
                         <img src="assets/images/logo.png" alt="">
                         </a>
                     </div>

                     <!--===Navigation===-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav mobile-menu">
             <li> <a href="#!">Home</a> <span class="submenu-button"></span>
             <ul class="dropdown-menu">
           <li> <a href="/home">Home Page 1</a> </li>
           <li> <a href="/home2">Home Page 2</a> </li>
           <li> <a href="/home3">Home Page 3</a> </li>
            </ul>
       </li>
       <li> <a href="javascript:avoid(0);">Papier</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="/home2/Allpapier">All papier</a> </li>
           <li> <a href="/home/registerpapier">Ajouter Papier</a> </li>

         </ul>
       </li>

     <li> <a href="javascript:avoid(0);">Chercheurs</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="/login">login</a> </li>
           <li> <a href="/register">register</a> </li>

           <li> <a href="/home/allchercheur">All chercheurs</a> </li>
         </ul>
       </li>
       <li> <a href="javascript:avoid(0);">Experts</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="/loginexpert">login</a> </li>
           <li> <a href="/registerexpert">register</a> </li>

           <li> <a href="/home2/allexpert">All experts</a> </li>
         </ul>
       </li>
       <li> <a href="javascript:avoid(0);">pages</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="portfolio-grid.html">Gallery Grid</a> </li>
           <li> <a href="portfolio-masonry.html">Gallery Masonry</a> </li>
           <li> <a href="portfolio-single.html">Gallery single</a> </li>
           <li> <a href="lecturers.html">Lecturers</a> </li>
           <li> <a href="lecturers2.html">Lecturers 2</a> </li>
            <li> <a href="lecturer-details.html">Lecturers Details</a> </li>
           <li> <a href="pricing.html">pricing</a> </li>
           <li> <a href="faq.html">Faq</a> </li>
           <li> <a href="register.html">Register</a> </li>
           <li> <a href="login.html">login</a> </li>
           <li> <a href="testimonial.html">Testimonials</a> </li>
           <li> <a href="404.html">404 Error</a> </li>
           <li> <a href="blank.html">blank</a> </li>
         </ul>
       </li>
       <li> <a href="#!">Shop</a> <span class="submenu-button"></span>
         <!-- Nav Dropdown -->
         <ul class="dropdown-menu">
           <li> <a href="shop.html">Shop</a> </li>
           <li> <a href="shop-sidebar.html">shop sidebar</a> </li>
           <li> <a href="shop-details.html">shop details</a> </li>
           <li> <a href="cart.html">cart</a> </li>
           <li> <a href="checkout.html">Checkout</a> </li>
         </ul>
         <!-- End Nav Dropdown -->
       </li>
       <li> <a href="#!">Contact us</a> <span class="submenu-button"></span>
         <ul class="dropdown-menu">
           <li> <a href="contact.html">contact</a> </li>
           <li> <a href="contact2.html">contact 2</a> </li>
         </ul>
       </li>
       <li><a class="custom_btn__block" href="#">Apply Now</a></li>
     </ul>

                   </div>

                 </div>
             </div>
         </div>
     </div>
 </div>
</header>
<div class="page-404 ptb-80 ptb-xs-60">
  <div class="container">
    <!--Footer Info -->
    <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3"> <strong class="big-font">4<i class="ion-android-happy"></i>4</strong>
        <h2>Page Not Found..</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exerc ssumenda voluptas quidem sit maiores odio velit voluptate. </p>
        <a href="index.html" class="btn-text mt-15">Back to home page</a> </div>
    </div>
  </div>
</div>
<footer>
  <div class="top_footer_info__block ptb-20">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <div class="single_info__block">
                      <i class="fa fa-phone"></i>
                      <h4>0(000) 000 000 <span>Monday-Friday, 8am-7pm</span></h4>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single_info__block">
                      <i class="fa fa-envelope-o"></i>
                      <h4>business@support.com <span>Monday-Friday, 8am-7pm</span></h4>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single_info__block">
                      <i class="fa fa-bullhorn"></i>
                      <h4>Request a quote <span>Get all the information</span></h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="main_footer__block pb-0 pt-60">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="footer_box__block">
                      <h4>About Us</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto, asperiores. Recusandae ea a culpa eligendi, harum amet cumque quod.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid sequi, fuga rem aperiam expedita ipsum.</p>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="footer_box__block">
                      <h4>Latest Blog Post</h4>
                      <ul>
                          <li><a href="#">Start your own agency</a></li>
                          <li><a href="#">How to cool down quality</a></li>
                          <li><a href="#">Make something awesome</a></li>
                          <li><a href="#">Plane your summer vacation</a></li>
                          <li><a href="#">There are sunlight to enjoy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="footer_box__block">
                      <h4>Our Project</h4>
                      <ul>
                          <li><a href="#">Go get an ice-cream</a></li>
                          <li><a href="#">Become the best version</a></li>
                          <li><a href="#">Eat, Sleep and have fun</a></li>
                          <li><a href="#">Start the journy to the top</a></li>
                          <li><a href="#">Can you do this for us?</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="footer_box__block address-box">
                      <h4>Contact info</h4>
                      <ul>
                          <li> <i class="fa fa-phone"></i>
                              <p>Call Us +56 (0) 012 345 6789</p>
                          </li>
                          <li> <i class="fa fa-envelope-o"></i>
                              <p><a href="mailto:info@example.com">business@support.com</a></p>
                          </li>
                          <li> <i class="fa fa-map-marker"></i>
                              <p>123 Main Street, St. NW Ste, 1 Washington, DC,USA.</p>
                          </li>
                          <li> <i class="fa fa-clock-o"></i>
                              <p>Monday-Firday, 9am-6pm; <br> Sunday Closed</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="copyriight_block ptb-20 mt-20">
              <div class="row">
                  <div class="col-sm-6">
                      <a href="#" class="footer__block-logo"><img src="assets/images/footer-logo.png" alt=""></a>
                  </div>
                  <div class="col-sm-6 text-right">
                      <p>All Rights Reserved</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

</footer>
